<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
</head>
<body>

  <script type="text/html" id='quotesList'>
    <table cellspacing='0' cellpadding='0' border='1' >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Context</th>
                    <th>Theme</th>
                    <th>Source</th>
                    <th>Quote</th>
                </tr>
            </thead>
            <tbody>
            <% _.each(quotes, function(quote, key){ 
            %>
                <tr>
                    <td><%= key + 1 %></td>
                    <td><%= quote.context %></td>
                    <td><%= quote.theme %></td>
                    <td><%= quote.source %></td>
                    <td><%= quote.quote %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
  </script>

  <div id="target"></div>
           


  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script type="text/javascript" src="scripts.js"></script>
</body>
</html>